# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
ENV/
env/
.venv/
.env/

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.pdb

# Local settings (e.g., sensitive configurations)
.local_settings.py

# Media and static files
/media/
/staticfiles/

# macOS files
.DS_Store

# Windows thumbnail database files
Thumbs.db

# Editor files (VSCode, PyCharm, etc.)
.idea/
.vscode/
*.swp
*~

# pipenv and poetry files
Pipfile
Pipfile.lock
poetry.lock

# Migrations
**/migrations/*
!**/migrations/__init__.py

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Test results
*.log
.tox/
*.coverage

# Pytest cache
.pytest_cache/

# MyPy
.mypy_cache/

# Environment variables
.env
.env.*